:host {
    border: .1rem solid #ef892a;

    background-color: #ef892a;

    border-radius: .8rem;

    padding: 1.2rem;

    font-family: 'Inter',
        sans-serif;
    font-size: 1.6rem;
    color: #f5f5f5;

    cursor: pointer;

    transition: all .2s ease-in-out;

    &.outline {
        background-color: transparent;
        color: #ef892a;
    }

    &.secondary {
        background-color: transparent;
        border-color: transparent;
        color: #303030;
    }

    &:hover:not(:disabled):not(.secondary) {
        background-color: #ec801a;

        &.outline {
            color: #fff;
        }

    }

    &:disabled {
        background-color: #d9d9d9;
        border-color: #b3b3b3;
        cursor: not-allowed;
    }
}