<div class="ideas">

    <div class="header">
        <span class="title">{{ title }}</span>
        <span class="subtitle">{{ subtitle }}</span>
    </div>

    <ol>
        @for (idea of paginatedIdeas?.data?.data || []; track $index) {
        <li>
            <img [src]="idea.campaign?.thumbnail" alt="Campaign">

            <div class="container">
                <div class="infos">
                    <h2>{{ idea.title }}</h2>
                    <p>{{ idea.idea }}</p>
                </div>

                @if(viewType == 'USER') {
                    <button inovaButton status="outline" (click)="openDetails(idea)">Visualizar ideia</button>
                } @else {
                    <div class="row">
                        <button inovaButton status="secondary" (click)="openDetails(idea)">Visualizar ideia</button>
                        <button inovaButton status="outline" (click)="evaluate(idea)">Avaliar ideia</button>
                    </div>
                }

            </div>
        </li>
        }
    </ol>

    <inova-paginate [pagination]="paginatedIdeas" (pageChange)="pageChange.emit($event)" />

</div>