<form [formGroup]="form">
    <inova-text-field 
        label="E-mail corporativo" 
        placeholder="Informe seu e-mail corporativo" 
        formControlName="email" 
        type="email" 
        [supportText]="{ text: 'E-mail informado está incorreto.', visible: invalid }" />

    <inova-text-field 
        label="Senha" 
        placeholder="Informe sua senha de acesso" 
        formControlName="password" 
        type="password" 
        [supportText]="{ text: 'Senha informado está incorreta.', visible: invalid }"/>

    <a class="forgot-password" routerLink="/auth/forgot-password">Esqueceu a senha?</a>

    <button inovaButton [disabled]="form.invalid || form.disabled" (click)="submit()">Accessar</button>

    <span>Não possui acesso? <a href="#">Entre em contato com sua empresa</a></span>
</form>