<div class="details">

    <div class="header">
        <div class="container">
            <span class="title">Termos e condições</span>
        </div>

        <button class="close" (click)="dialogRef.close()">
            <i class='bx bx-x'></i>
        </button>

    </div>


    <p>
        1. Objetivo
        A participação nas Campanhas de Inovação tem como objetivo promover o desenvolvimento de ideias e soluções
        inovadoras que possam beneficiar a organização e/ou seus stakeholders.
        <br><br>
        2. Elegibilidade
        Podem participar da campanha colaboradores e parceiros da organização que concordarem com os termos descritos
        neste documento. Qualquer submissão deve ser original e de propriedade intelectual do participante.
        <br><br>
        3. Direitos de Propriedade Intelectual
        Ao submeter ideias, o participante reconhece que todos os direitos de propriedade intelectual resultantes dessas
        ideias serão de propriedade da organização, podendo ser utilizados para fins comerciais ou institucionais sem
        necessidade de compensação adicional.
        <br><br>
        4. Confidencialidade
        O participante concorda em manter confidenciais todas as informações e materiais relacionados à campanha, salvo
        quando expressamente autorizada a divulgação pela organização.
        <br><br>
        5. Responsabilidades
        Os participantes são responsáveis pela originalidade e veracidade das informações fornecidas, garantindo que
        nenhuma ideia submetida infrinja direitos de terceiros.
        <br><br>
        6. Consentimento de Uso de Dados
        Ao aceitar estes termos, o participante consente com o uso de seus dados pessoais pela organização,
        exclusivamente para fins de gerenciamento da campanha e conforme as políticas de privacidade vigentes.
        <br><br>
        7. Aceitação dos Termos
        Ao clicar em "Aceito", o participante declara que leu, entendeu e concorda com os Termos e Condições
        estabelecidos acima. A participação na campanha está condicionada à aceitação desses termos.
        <br><br>
        8. Alterações nos Termos
        A organização reserva-se o direito de alterar os termos desta campanha a qualquer momento. Tais alterações serão
        comunicadas previamente aos participantes.
    </p>

    <button class="back" (click)="dialogRef.close()">Fechar</button>
</div>