<div class="auth-container">

    <div class="banner">

        <div class="morphism">
            <h1>Comece sua jornada<br>inovando no dia a dia</h1>

            <img class="person" src="/assets/person.png" alt="person">

            <div class="indicators">
                <div class="indicator active"></div>
                <div class="indicator"></div>
                <div class="indicator"></div>
            </div>
        </div>

    </div>

    <div class="auth">

        <div class="form">
            <div class="logo">
                <img src="/assets/logo.png" alt="Logo">
            </div>

            <div class="container">
                <ng-content />
            </div>

        </div>

        <div class="copyright">
            <span>© Projeto Institucional Wallyso Pereira</span>
        </div>

    </div>
</div>