<form [formGroup]="form">
    <div class="title">
        <h3>Nova senha</h3>
        <p>Informe sua nova senha de acesso.</p>
    </div>

    <inova-text-field label="Nova senha" placeholder="Insira sua nova senha" formControlName="password" type="password" />
    <inova-text-field label="Confirmação da nova senha" placeholder="Confirme sua nova senha" formControlName="password_confirmation" type="password" />

    <button inovaButton [disabled]="form.invalid">Cadastrar nova senha</button>

    <a routerLink="./auth/login" class="back"><i class='bx bx-arrow-back'></i> <span>Voltar e fazer login</span></a>
</form>