<div class="rank">
    <div class="header">
        <span class="title">{{ title }}</span>
        <span class="subtitle">{{ subtitle }}</span>
    </div>

    <div class="separator"></div>

    <ol>
        @for (item of sliced; track $index) {
            <li>
                <div class="container">

                    @switch ($index) {
                        @case(0) {
                            <div class="rank-container">
                                <img src="/assets/ranks/gold.svg" alt="Gold Medal">
                            </div>
                        }
    
                        @case (1) {
                            <div class="rank-container">
                                <img src="/assets/ranks/silver.svg" alt="Silver Medal">
                            </div>
                        }
    
                        @case (2) {
                            <div class="rank-container">
                                <img src="/assets/ranks/copper.svg" alt="Copper Medal">
                            </div>
                        }
                        @default {
                            <div class="rank-container">
                                <span class="index">{{ $index + 1 }}</span>
                            </div>
                        }
                    }

                    <span class="name">{{ item.name }}</span>
                </div>

                <span class="count">{{ item.count }}</span>
            </li>
        }
        
    </ol>

    <button inovaButton>Visualizar ranking</button>
</div>