<div class="items">

    <div class="container">
        <inova-profile />
        <inova-banner [campaign]="featured_campaign" />
    </div>

    <div class="container">
        <form class="filters" [formGroup]="form">
            <div class="input-group">
                <span>Filtrar por:</span>
                <inova-select [items]="campaignsItems" formControlName="campaignId" />
            </div>
            <inova-text-field placeholder="Busque uma ideia" icon="bx bx-search-alt-2" formControlName="idea" />
        </form>
    </div>

    <div class="container">
        <div class="ranks">
            <inova-rank [items]="more_submited || []" />
            <inova-rank [items]="more_implemented || []" />
        </div>

        <inova-ideas title="Ideias enviadas" subtitle="Visualize todas suas ideias enviadas" [paginatedIdeas]="paginatedIdeas" (pageChange)="changePage($event)" />
    </div>

</div>