<form [formGroup]="form">
    <div class="title">
        <h3>Recuperação de senha</h3>
        <p>Informe seu e-mail corporativo pare receber o token de recuperação de acesso.</p>
    </div>

    <inova-text-field label="E-mail corporativo" placeholder="Informe seu e-mail corporativo" formControlName="email"
        type="email" />

    <button inovaButton [disabled]="form.invalid">Enviar token de recuperação</button>

    <a routerLink="./auth/login" class="back"><i class='bx bx-arrow-back'></i> <span>Voltar e fazer login</span></a>
</form>