<div class="input-group">
    @if (label) {
        <label>{{ label }}</label>
    }

    <div class="input-container">

        @if(type == 'textarea') {
            <textarea #input [class.icon]="icon" [placeholder]="placeholder"  (keyup)="change(input)" [(ngModel)]="value" [class.error]="supportText?.visible" [disabled]="disabled"></textarea>
        } @else {
            <input #input [class.icon]="icon" [type]="type" [placeholder]="placeholder"  (keyup)="change(input)" [(ngModel)]="value" [class.error]="supportText?.visible" [disabled]="disabled">
        }

        @if (icon) {
            <i [ngClass]="icon"></i>
        }
    </div>

    @if(supportText && supportText.text && supportText.visible) {
        <small>
            {{ supportText.text }}
        </small>
        }
</div>